@model IEnumerable<ToDoLogic.Models.ToDoDto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">ToDo List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="width:65%">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="width:35%">
                @Html.ActionLink("Done", "Done", new { id = item.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-waring" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
